@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  --blue: rgb(0, 125, 184);
}

* {

  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

/* Default body font size is 16 px  */
body {
  font-size: 16px;
  background-color: #f0f0f0;
}


header {

  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

  color: black;
  border-bottom: var(--blue) solid;
  border-radius: 8px;
}

.navigation {

  float: right;
  margin: top 10px;
}


.logo {
  text-decoration: none;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  padding-left: 10px;
  transition: 0.7s ease;


  /* 1 em is relevant to the bodys default font size*/

}


.logo:hover {
  /* color: #e8491d; */

  color: black;
  ;
  font-weight: bold;
  transform: scale(1.1);

}


.logo-video {


  width: 50px;
  height: 50px;
  padding-bottom: 8px;

}



.navigation ul {

  padding-top: 5px;
}

.navigation li {

  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

.navigation a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 0px;
}

.navigation a:hover {
  color: var(--blue);
  font-weight: bold;
  transition: 0.4s ease;


}

.container {


  width: 100%;
  margin: auto;
  overflow: hidden;


}



section {

  padding: 100px 200px;
}

.intro {

  margin-top: 170;

}

.main {


  width: 100%;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;


  background: url(/portfolio/images/);
  /* background-size: cover; */
  /*To scale the image*/
  background-position: center;
  background-attachment: fixed;
}

.main h2 {

  /* color: rgb(0, 125, 184); */
  color: black;
  font-size: 1.4em;
  font-weight: 500;

}



.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--blue);
  font-size: 2em;
}

.main h3 {

  color: black;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}


.main-btn {


  color: #fff;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {

  background-color: #0a49f6;
  transform: scale(1.1);
}



.social-icons a {

  color: var(--blue);
  font-size: 1.7em;
  padding-right: 20px;
  margin-left: 5px;
}





.cv {

  color: #fff;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-top: 100;
  margin-right: 30;

  transition: 0.7s ease;
  float: right;

}

.cv:hover {


  background-color: #0a49f6;
  transform: scale(1.1);

}




header .current a {

  color: var(--blue);
  font-weight: bold;



}


header .current a:hover {

  color: black;
  font-weight: bold;


}

header a {

  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

}




header h1 {
  display: inline;
  color: var(--blue);

  background: url(/portfolio/index.html);
}

.main-heading {
  text-decoration: none;
  color: rgb(0, 125, 184);


}


/*2. Section*/

.title {

  display: flex;
  justify-content: center;
  color: var(--blue);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;

}

.content {

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;



}

.card {

  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1/15%);
  margin: 15px;
  padding: 30px;
  transition: 0.7s ease;
  border-radius: 10px;

}

.info {

  text-align: center;
}

.card h3 {

  color: var(--blue);

  margin-bottom: 10px;
}

.card p {
  color: black;

}



.card:hover {
  color: black;


  transform: scale(1.4);




}

.icon {

  color: var(--blue);

  font-size: 8em;

  text-align: center;
}


.contactForm {

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: var(--blue);


  font-size: larger;
  font-weight: 600;
}

/* section projects */

.projects {

  background-color: #f0f0f0;
}

.projects .content {

  margin-top: 30px;
}

.project-card {

  border: 1px solid black;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {

  transform: scale(1.1);
}

.project-image {

  width: 100%;
}

.project-card:hover .project-image {

  opacity: 0.9;
}

.project-category {

  font-size: 0.8em;
  color: #000;

}

.project-title {
  justify-content: space-between;

  text-transform: uppercase;

  font-weight: 800;

  margin-top: 10px;
}

.more-details {
  text-decoration: none;

  color: var(--blue);
}

.more-details:hover {
  color: #601cfc;
}

/* Footer section */

.footer {
  border: 10px;
  background-color: var(--blue);
  color: #000010;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {

  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {

  color: #000100;
}

footer .social-icons a {

  color: #000100;
  padding: 0 8px 0 0;
}

@media(max-width: 1023px) {

  header {

    padding: 12px 20px;
  }

  .navigation a {

    padding-left: 10px;
  }

  .title {

    font-size: 1.8em;
  }

  section{
    padding: 80px 20px;
  }
  .main-content h2{


    font-size: 1em;


  }

  .main-content h3{

    font-size: 1.6em;
  }



}